---
import Layout from '../layouts/Layout.astro';
import PanelControl from '../components/react/Panel';
---

<Layout title="Panel Organizador">
    <div class="flex flex-col items-start justify-end gap-6 z-50 w-full px-8">
        <a
            href="/hackatonesAutor"
            class="bg-black border border-primary font-bold text-white px-6 py-3 rounded-lg w-fit hover:bg-primary transition-colors duration-200 z-50"
        >
            Ver tus hackatones
        </a>
    </div>
    <div class="flex flex-col items-center justify-center gap-6 z-50">
        <PanelControl client:only="react" />
    </div>
</Layout>
