---
const { clase } = Astro.props;
---

<footer class={`w-full flex flex-col items-center justify-center gap-10 overflow-hidden bg-black z-50  ${clase}`}>
    <div class="flex justify-between items-center mx-auto w-full h-full xl:py-6 py-9 bg-black z-50">
        <div
            class="flex xl:justify-between xl:flex-row flex-col justify-center items-center mx-auto w-full max-w-[1200px] h-full xl:gap-0 gap-10"
        >
            <div class="flex items-center flex-col xl:flex-row gap-2 z-50">
                <div class="flex items-center gap-2">
                    <img src="/src/assets/Logo.webp" alt="Logo" class="size-10" loading="lazy" />
                    <h2 class="text-xl font-bold text-white">DevArena</h2>
                </div>
                <a href="/" class="text-xl text-white hover:underline transition-all text-center"
                    >Terminos y Condiciones</a
                >
            </div>

            <div class="flex gap-3 xl:order-2 order-1 z-50">
                <a
                    class="size-10 rounded-full bg-black flex items-center justify-center hover:border-secondary transition-colors hover:shadow-secondary hover:shadow-lg border border-white/50"
                    href="/"><img src="/src/assets/IconFacebook.png" loading="lazy" alt="Icono para facebook" /></a
                >
                <a
                    class="size-10 rounded-full bg-black flex items-center justify-center hover:border-secondary transition-colors hover:shadow-secondary hover:shadow-lg border border-white/50"
                    href="/"><img src="/src/assets/IconLinkedin.png" loading="lazy" alt="Icono para linkedin" /></a
                >
                <a
                    class="size-10 rounded-full bg-black flex items-center justify-center hover:border-secondary transition-colors hover:shadow-secondary hover:shadow-lg border border-white/50"
                    href="/"><img src="/src/assets/IconTwitter.png" loading="lazy" alt="Icono para twitter" /></a
                >
                <a
                    class="size-10 rounded-full bg-black flex items-center justify-center hover:border-secondary transition-colors hover:shadow-secondary hover:shadow-lg border border-white/50"
                    href="/"><img src="/src/assets/IconYouTube.png" loading="lazy" alt="Icono para youtube" /></a
                >
            </div>
        </div>
    </div>
</footer>
