---
import { Services_List } from '../mooks/Services.json';

const ANIMACIONES_CARDS_SERVICES = ['fade-right', 'fade-up', 'fade-left'];
---

<section id="services" class="w-full flex flex-col items-center justify-center gap-16 xl:py-40">
    <div class="flex flex-col justify-center gap-5">
        <h2 data-aos="zoom-in" data-aos-delay="100" class="xl:text-6xl font-bold text-primary">Beneficios</h2>
        <p data-aos="zoom-in" data-aos-delay="200" class="text-xl">
            Desarrolladores de todos los niveles pueden participar en hackathons y competencias de desarrollo virtuales.
            Desde la organización hasta la evaluación, DevArena proporciona una plataforma completa para que empresas,
            universidades o comunidades tecnológicas lancen sus propios retos y descubran talento real.
        </p>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-8">
        {
            Services_List.map(({ id, titulo, descripcion }) => (
                <div
                    data-aos={ANIMACIONES_CARDS_SERVICES[id]}
                    data-aos-delay={(id % ANIMACIONES_CARDS_SERVICES.length) * 100 + 300}
                    class="flex flex-col items-center justify-center border border-primary rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 gap-2 min-h-[300px]"
                >
                    <div class="w-full bg-primary px-4 flex-1 flex justify-center items-center">
                        <h2 class="text-2xl font-bold">{titulo}</h2>
                    </div>
                    <div class="flex-2 flex justify-center h-full items-center">
                        <p class="px-4">{descripcion}</p>
                    </div>
                </div>
            ))
        }
    </div>
</section>
